DATABASE_URL="file:./dev.db"
ALLOW_ORIGIN=http://localhost:5173
PORT=3000
JWT_SECRET="YZz0zD7hh6dlVhhbiaXw3bEh1bnR84CeqNjkGwJj6fx"

CLOUDINARY_CLOUD_NAME="dqmv125yn"
CLOUDINARY_API_KEY="125738123296414"
CLOUDINARY_API_SECRET="QNB4g_ghvqqaPBMhIdoB4Gp_Lqk"